 <div class="table-responsive">	
                                    <table id="clientList" class="table table-bordered table-hover table-striped">	
                                        <thead class="thead-light">	
                                        <tr>	
                                           
                                            <th scope="col">Id</th>	
                                            <th scope="col">direccion</th>	
                                            <th scope="col">nombre</th>	
                                            <th scope="col">nit</th>	
                                            <th></th>	
                                        </tr>	
                                        </thead>	
                                        <tbody>	
                                       <tr th:each="cliente: ${clientList}">
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.dirreccion}"></td>
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.nit}"></td>
			<td>
                                     
                                                <a href="#" th:href="@{'/editClient/'+${cliente.id}}"><i class="fas fa-edit"></i></a> 
                                              
                                                <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')}"  >
                                               <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${cliente.id} +'\');'"><i class="fas fa-user-times"></i></a>
                                           </span>       
                                            </td>	
                                        </tr>	
                                        </tbody>	
                                    </table>	
                                </div>	
        <script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteClient/"+id;
}
</script>                                    
                                
                                